<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Seva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container header-container">
        <div class="col-sm-6">
            <label class="brand-name pull-left text-success">Covid Seva</label>
        </div>
        <div class="col-sm-6">
            <button class="img-btn pull-right" data-toggle="modal" data-target="#add-info-modal" title="Submit info to help someone">Add information <br /><small>to help someone in need of covid resources</small></button>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <div class="clearfix"></div>
        <div class="container">
            <hr />
            <div class="col-sm-12 text-center">
                <a role="button" data-toggle="modal" data-target="#add-info-modal" title="Submit info to help someone">
                    <img class="img-banner" src="~/Content/Images/banner.jpeg" />
                </a>
            </div>
            <div class="clearfix"></div>
            <br />
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Covid Seva</p>
            </footer>
        </div>
    </div>   

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
